<div class="p-3">
  <div class="card">
    <div class="card-body">
        <div>
          <input [(ngModel)]="keyword" type="text">
          <button (click)="searchProducts()" class="btn btn-success ms-1">
            Search
          </button>
        </div>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th><th>Name</th><th>Price</th><th>Checked</th><th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>
            <button (click)="handleCheckProduct(p)" class="btn btn-outline-success">
              <i [class]="p.checked ?'bi bi-check':'bi bi-circle'"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteProduct(p)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
